%header.navbar.navbar-default.navbar-fixed-top
  %div.container
    %nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a< Top
        %li
          %a< About
%div.jumbotron
  %div.container
    %h1< 30億のデバイスで走るJava
    %p< This is the test page to test sinatra and twitter bootstrap.
%div.container
  %div.row
    %div.col-xs-6
      %h2< Hello!Sinatra!!Bootstrap!!!
      %p< はろはろてすてす
      %p< はろはろてすてす
      %p< はろはろてすてす
    %div.col-xs-6
      %h2< Javaとは
      %p< ジャバってすげーらしいよ
      %p< ジャバスクリプトとなにがちがうの
%footer.panel.panel-footer.fixed-bottom
  これがフッターか

